<mat-card>
  <mat-card-actions>
  </mat-card-actions>
  <mat-card-content>

    <app-task [taskInfo]="taskInfos[0]"></app-task>
    <app-task [taskInfo]="taskInfos[1]"></app-task>
    <app-task [taskInfo]="taskInfos[2]"></app-task>
    <app-task [taskInfo]="taskInfos[3]"></app-task>
    <app-task [taskInfo]="taskInfos[4]"></app-task>
    <app-task [taskInfo]="taskInfos[5]"></app-task>
    <app-task [taskInfo]="taskInfos[6]"></app-task>
    <app-task [taskInfo]="taskInfos[7]"></app-task>
    <app-task [taskInfo]="taskInfos[8]"></app-task>
    <app-task [taskInfo]="taskInfos[9]"></app-task>

  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
